/*------- 
Fonts  
--------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*--------------------------
 common style or utilities  
 ---------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 10px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/*-------------
Top Navigation 
--------------*/
.bottom-bar{
    background-color: #562EFF;
    height: 94px;
    align-items: center;
}
.bottom-detail{
    display: flex;
    justify-content: space-between;
    padding-left: 290px;
    padding-top: 20PX;
}
.logo{
    display: flex;
}
.logo img{
    width: 41px;
    height: 51px;
    padding-right: 10px;
}
.logo p{
    color: #FFFFFF;
}
.head-link{
    align-items: center;
    display: flex;
}
.head-link h5{
    color: #FFFFFF;

    padding-right: 15px;
    
}
.head-pic img{
    align-items: center;
    width: 51px;
    height: 51px;
    padding-right: 290PX;
}


/*--------------------
 Top Players Style 
 ---------------------*/
.top-players{
    margin-bottom: 30px;
}
.section-title{
   color:#562EFF;
   margin-top: 3px;
}
.players{
   display: grid; 
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin: 16px;
    font-size: 18px;
}

/*-----------------
 top blogs styles 
 ------------------*/
 .blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
 }
 .blog{
    display: flex;
 }
 .blog .thumbnail img{
    width: 177px;
    height: 117px;
 }
 .blog-info{
    margin-left: 16px;
 }
 .blog title{
    font-size: 20px;
 }
 .blog-author{
    color: #9f9f9f;
    font-size: 16px;
 }
 .blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
 }

 /*--------------
  couses style 
  ---------------*/
  .courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
  }
.courses .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
color: #ffc014;
}
.fa-star.empty{
color: #858072 ;    
}
.course-du{
    padding: 3px;
    background-color:#fcb7c1;
    border-radius: 5px;
}

/*----------------
 media queries 
 -----------------*/

 @media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .bottom-bar{
        width: 100%;
        height: 140px;
    }
    .bottom-detail{
        display:contents;
        justify-content:center;
    }
    .logo{
        padding-top: 20px;
        justify-content: center;
    }
    .head-link{
        display: flex;
        justify-content: center;
        margin-left: 320px;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    

 }
/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width:992px) {
    .bottom-detail{
        justify-content: center;
    }
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blogs, .courses, .bottom-bar{
        flex-direction: column;
    }
}


